:root{
    --white: white ;
    --red: #fa2b2b ;

    --blue-deem: #2f698f ;
    --blue-light: #4eabe9 ;
    --blue-deep: #022842 ;

    --orange: orange ;
    --orange-light: rgb(238, 255, 0) ;

    --green-deem: rgb(85, 160, 147) ;
    --green-light: rgb(0, 255, 213) ;
    
    --gray: #e4cdcd ;
    --gray-light: #f7f4f4 ;

    --violet-deem: #2e0252 ; 
    --violet-light: #8600f3 ; 
    --violet-deep: #20013a ; 
}

.theme-one {
    --bg-calc: var(--blue-deem);
    --bg-screen: var(--blue-deep);
    --bg-keyboard: var(--blue-deep);
    --bg-numbers: var(--white);
    --bg-resetdel: var(--blue-deem);
    --bg-equal: var(--red);

    --font-calc: var(--white);
    --font-numbers: var(--blue-deem);
    --font-equal: var(--white);
    --font-resetdel: var(--white);
}

.theme-two {
    --bg-calc: var(--gray-light);
    --bg-screen: var(--white);
    --bg-keyboard: var(--gray);
    --bg-numbers: var(--gray-light);
    --bg-resetdel: var(--green-deem);
    --bg-equal: var(--orange);

    --font-calc: var(--blue-deep);
    --font-numbers: var(--blue-deep);
    --font-equal: var(--white);
    --font-resetdel: var(--white);
}

.theme-three {
    --bg-calc: var(--violet-deep);
    --bg-screen: var(--violet-deem);
    --bg-keyboard: var(--violet-deem);
    --bg-numbers: var(--violet-deep);
    --bg-resetdel: var(--violet-light);
    --bg-equal: var(--green-light);

    --font-calc: var(--orange-light);
    --font-numbers: var(--orange-light);
    --font-equal: var(--blue-deep);
    --font-resetdel: var(--white);
}

.bg-calc{background-color: var(--bg-calc);}
.bg-screen{background-color: var(--bg-screen);}
.bg-keyboard{background-color: var(--bg-keyboard);}
.bg-numbers{background-color: var(--bg-numbers);}
.bg-resetdel{background-color: var(--bg-resetdel);}
.bg-equal{background-color: var(--bg-equal);}

.font-calc{ color: var(--font-calc);}
.font-resetdel{ color: var(--font-resetdel);}
.font-numbers{ color: var(--font-numbers);}
.font-equal{ color: var(--font-equal);}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
}
.calculator{
    margin: auto;
}
.wrapper{
    margin: auto;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.header, .screen, .keyboard{
    border-radius: 8px;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 5px;

}
.header .title{
    font-size: 30px;
    font-weight: bolder;
}
.header .theme-settings{
    display: flex;
    align-items: flex-end;
}
.header .theme-settings span{
   margin-right: 20px;
   text-transform: uppercase;
}
.header .theme-settings .settings{
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.theme-settings .templates, #slide{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
}
.theme-settings .templates li{
    cursor: pointer;
}
 #slide{
    height: 25px;
    width: 100px;
    border-radius: 15px;
    background-color: var(--bg-keyboard);
}
.one, .two, .three{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: var(--bg-equal);
}


.screen{
    height: 80px;
    padding: 10px 50px;
    text-align: right;
    font-size: 50px;
}

.keyboard{
    flex-grow: 1;
    padding: 40px 50px;
}

.keyboard {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 15px;
        grid-column-gap:25px;
}




.keyboard .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    aspect-ratio: 1/.8;
    border-radius: 10px;
    font-size: 50px;
    font-weight: bolder;
}
.keyboard .reset {
    grid-column: 1 / span 2;
}

.keyboard .equal {
    grid-column: 3 / span 2;
}

.reset.btn, .equal.btn{
    aspect-ratio: 1/.5;
}

.d-none{visibility: hidden;}







 