*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: blueviolet;
    display: flex;
}
.wrapper{
    margin: auto;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: red;
}
.header, .screen, .keyboard{
    border-radius: 8px;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 5px;
    background-color: wheat;

}
.header .title{
    font-size: 30px;
    font-weight: bolder;
}
.header .theme-settings{
    display: flex;
    align-items: flex-end;
}
.header .theme-settings span{
   margin-right: 20px;
   text-transform: uppercase;
}
.header .theme-settings .settings{
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.theme-settings .templates, #slide{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
}
.theme-settings .templates li{
    cursor: pointer;
}
 #slide{
    height: 25px;
    width: 100px;
    border-radius: 15px;
    background-color: green;
}
.one, .two, .three{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: orange;
}


.screen{
    height: 80px;
    padding: 10px 50px;
    text-align: right;
    font-size: 50px;
    background-color: yellow;
}

.keyboard{
    flex-grow: 1;
    padding: 40px 50px;
    
    
    background-color: wheat;
}

.keyboard {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 15px;
        grid-column-gap:25px;
}




.keyboard .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: violet;
    cursor: pointer;
    aspect-ratio: 1/.8;
    border-radius: 10px;
    font-size: 50px;
    font-weight: bolder;
}
.keyboard .reset {
    grid-column: 1 / span 2;
}

.keyboard .equal {
    grid-column: 3 / span 2;
}

.reset.btn, .equal.btn{
    aspect-ratio: 1/.5;
}

.d-none{visibility: hidden;}